<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Head of App Component</h3>
           <app-gamecontrol (counterEmitter) = "getCounter($event)"></app-gamecontrol>
            <div *ngIf="childCounter%2 ==0; else oddComponent">
                <app-evencomp [evenNumber]="childCounter"></app-evencomp>
            </div>
            <ng-template #oddComponent>
                <app-oddcomp [oddNumber]="childCounter"></app-oddcomp>
            </ng-template>
            
        </div>
    </div>
</div>